[LoadingScreen]
LogLevel=1
FilePrinting=False
ConsolePrinting=True
ScreenPrinting=False

[Zone]
LogLevel=1
FilePrinting=False
ConsolePrinting=True
ScreenPrinting=False

[Bob]
LogLevel=1
FilePrinting=False
ConsolePrinting=True
ScreenPrinting=False

[Power]
LogLevel=1
FilePrinting=False
ConsolePrinting=True
ScreenPrinting=False

[Asset]
LogLevel=1
FilePrinting=False
ConsolePrinting=False
ScreenPrinting=False

[Rachelle]
LogLevel=1
FilePrinting=False
ConsolePrinting=False
ScreenPrinting=False

[Arena]
LogLevel=1
FilePrinting=False
ConsolePrinting=False
ScreenPrinting=False

[Achievements]
LogLevel=1
FilePrinting=False
ConsolePrinting=True
ScreenPrinting=False
